<h1>New Member</h1>



<div class="card">


<div class="card-body">




<form [formGroup]="addForm" novalidate (ngSubmit)="addMember()">

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="sbnCheck" (change)="sbnClicked($event)">
    <label class="form-check-label" for="sbnCheck">
      Check if this is a State Bar member not in Santa Cruz or Monterey counties
    </label>
  </div>



  <div class="form-group">
    <label class="col-md-4">SBN</label>
    <label>
      <input type="text" class="form-control" formControlName="sbn" #sbn />
    </label>
  </div>


  <!--
  <div *ngIf="angForm.controls['sbn'].invalid && (angForm.controls['sbn'].dirty || angForm.controls['sbn'].touched)" class="alert alert-danger">
    <div *ngIf="angForm.controls['sbn'].errors.required">
      sbn is required.
    </div>
  </div>
  -->



  <!-- below only if not a State Bar Member -->

  <div [hidden]="!addVisible">
    New member not a State Bar Member or a State Bar member out of Santa Cruz or Monterey counties. For State bar members, use data of State Bar website.


    <div class="form-group">
      <label class="col-md-4">Last Name</label>
      <label>
        <input type="text" class="form-control" formControlName="_last_name" />
      </label>
    </div>


    <div class="form-group">
      <label class="col-md-4">First Name</label>
      <label>
        <input type="text" class="form-control" formControlName="_first_name" />
      </label>
    </div>


    <div class="form-group">
      <label class="col-md-4">Admission Date (YYYY-MM-DD)</label>
      <label>
        <input type="text" class="form-control" formControlName="_admission_date" />
      </label>
    </div>


    <div class="form-group">
      <label class="col-md-4">Status (A, I, N)</label>
      <label>
        <input type="text" class="form-control" formControlName="_status" />
      </label>
    </div>


    <div class="form-group">
      <label class="col-md-4">Address 1</label>
      <label>
        <input type="text" class="form-control" formControlName="_address_1" />
      </label>
    </div>


    <div class="form-group">
      <label class="col-md-4">Address 2</label>
      <label>
        <input type="text" class="form-control" formControlName="_address_2" />
      </label>
    </div>


    <div class="form-group">
      <label class="col-md-4">City</label>
      <label>
        <input type="text" class="form-control" formControlName="_city" />
      </label>
    </div>


    <div class="form-group">
      <label class="col-md-4">State</label>
      <label>
        <input type="text" class="form-control" formControlName="_state" />
      </label>
    </div>


    <div class="form-group">
      <label class="col-md-4">ZIP</label>
      <label>
        <input type="text" class="form-control" formControlName="_zip" />
      </label>
    </div>


    <div class="form-group">
      <label class="col-md-4">ZIP Plus 4</label>
      <label>
        <input type="text" class="form-control" formControlName="_zip_plus4" />
      </label>
    </div>


    <div class="form-group">
      <label class="col-md-4">District</label>
      <label>
        <input type="text" class="form-control" formControlName="_district" />
      </label>
    </div>


    <div class="form-group">
      <label class="col-md-4">County</label>
      <label>
        <input type="text" class="form-control" formControlName="_county" />
      </label>
    </div>


    <div class="form-group">
      <label class="col-md-4">Phone</label>
      <label>
        <input type="text" class="form-control" formControlName="_phone" />
      </label>
    </div>


    <div class="form-group">
      <label class="col-md-4">Fax</label>
      <label>
        <input type="text" class="form-control" formControlName="_fax" />
      </label>
    </div>


    <div class="form-group">
      <label class="col-md-4">Email</label>
      <label>
        <input type="text" class="form-control" formControlName="_email" />
      </label>
    </div>


    <div class="form-group">
      <label class="col-md-4">Firm</label>
      <label>
        <input type="text" class="form-control" formControlName="_firm" />
      </label>
    </div>


    <div class="form-group">
      <label class="col-md-4">Law School</label>
      <label>
        <input type="text" class="form-control" formControlName="_law_school" />
      </label>
    </div>


    <div class="form-group">
      <label class="col-md-4">Comments</label>
      <label>
        <input type="text" class="form-control" formControlName="_comments" />
      </label>
    </div>

    <div class="form-group">
      <label class="col-md-4">Practice Areas (separate areas with a '|')</label>
      <label>
        <input type="text" class="form-control" formControlName="_practice_areas" />
      </label>
    </div>

    <button type="submit">Submit</button>


  </div>


</form>
</div>
</div>
