<!-- show-edit.component.html -->
<div class="container">

  <br><br>

  <h2>Editing {{theMember.last_name}}, {{theMember.first_name}} </h2>

  <br>

  <form [formGroup]="editForm" novalidate (ngSubmit)="updateMemberInfo()">

    <div class="form-group">
      <label class="col-md-2">Phone</label>
      <label class="col-md-3">
        <input type="text" class="form-control" formControlName="_phone"  />
      </label>
    </div>

    <div class="form-group">
      <label class="col-md-2">Fax</label>
      <label class="col-md-3">
        <input type="text" class="form-control" formControlName="_fax" />
      </label>
    </div>

    <div class="form-group">
      <label class="col-md-2">Email</label>
      <label class="col-md-7">
        <input type="text" class="form-control" formControlName="_email" />
      </label>
    </div>

    <div class="form-group">
      <label class="col-md-3">SCCBA Member</label>
        <input
          id="membery"
          type="radio"
          value="y"
          formControlName="_member"
          [checked] = "isMember" >
        <label for="membery">&nbsp;&nbsp;Yes</label>
      &nbsp;&nbsp;&nbsp;
        <input
          id="membern"
          type="radio"
          value="n"
          formControlName="_member"
          [checked] = "! isMember" >
        <label for="membern">&nbsp;&nbsp;No</label>
    </div>

    <!--
    <div class="form-group">
      <label class="col-md-4">Member</label>
      <label>
        <input
          type="text"
          class="form-control"
          formControlName="member"
          #member
          value="{{theMember.member}}"
        />
      </label>
    </div>
    -->

    <div class="form-group">
      <label class="col-md-2">Comments</label>
      <label class="col-md-10">
        <input type="text" class="form-control" formControlName="_comments" />
      </label>
    </div>

    <div class="form-group">
      <label class="col-md-2">Practice Areas</label>
      <label class="col-md-10">
        <input type="text" class="form-control" formControlName="_practice_areas" />
      </label>
        <div class="col-md-10">
      <p>Separate practice areas with " * "
      </div>
    </div>

    <button type="submit">Submit</button>
    <button type="button" class="btn" (click)="cancelEdit()" >Cancel</button>



    <!--
    <div class="form-group">
      <button (click) = "updateMemberInfo()"
              type="submit"
              class="btn btn-primary"
              [disabled]="angForm.invalid" >
        Update Member
      </button>
    </div>
    -->


  </form>
</div>

