
<div class="card mt-4">
  <h4 class="card-header"></h4>
  <!--
  <div class="card-body">
    <h6>Users from secure api end point</h6>
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <ul *ngIf="users">
      <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
    </ul>
  </div>
  -->
</div>

<br><br>


<div class="container">



  <!-- Stats div-->

      <h3>SCCBA Stats</h3>
      <br>
      SCCBA Members: {{sccbaMembers.length}}
      <br><br>
      SCCBA Members - Attorneys - Santa Cruz County: {{santaCruzAttorneys.length}}
      <br><br>
      SCCBA Members - Attorneys - Monterey County: {{montereyCountyAttorneys.length}}
      <br><br>
      SCCBA Members - Non-attorneys: {{sccbaMembers_nonattorneys.length}}
      <br><br>
      SCCBA Members - Attorneys - Out of Area: {{sccbaMembers_attorneys_outofarea.length}}

    <!--
      <div class="row">
        <div class="col-12">
          SCCBA Members: {{sccbaMembers.length}}
        </div>
        <div class="col col-2">
          {{sccbaMembers.length}}
        </div>
      </div>

      <div class="row">
          <div class="col-12">
            SCCBA Members - Attorneys - Santa Cruz County: {{santaCruzAttorneys.length}}
          </div>
          <div class="col col-2">
            {{santaCruzAttorneys.length}}
          </div>
      </div>

      <div class="row">
        <div class="col-12">
          SCCBA Members - Attorneys - Monterey County: {{montereyCountyAttorneys.length}}
        </div>
        <div class="col col-2">
          {{montereyCountyAttorneys.length}}
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          SCCBA Members - Non-attorneys: {{sccbaMembers_nonattorneys.length}}
        </div>
        <div class="col col-2">
          {{sccbaMembers_nonattorneys.length}}
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          SCCBA Members - Attorneys - Out of Area: {{sccbaMembers_attorneys_outofarea.length}}
        </div>
        <div class="col col-2">
          {{sccbaMembers_attorneys_outofarea.length}}
        </div>
      </div>

      -->

    <br><br>
</div>








<!--
  <div [hidden]="!searchVisible">
    <h3>Search</h3>
    <form [formGroup]="searchForm" novalidate>

      <div class="form-group">
        <label class="col-md-4">Last Name</label>
        <label>
          <input type="text" class="form-control form-control-sm" formControlName="_last_name" />
        </label>
      </div>

      <div class="form-group">
        <label class="col-md-4">First Name</label>
        <label>
          <input type="text" class="form-control form-control-sm" formControlName="_first_name" />
        </label>
      </div>

      <div class="form-group">
        <label class="col-md-4">Status</label>

          <input id="active" type="radio" value="A" formControlName="_status">
        &nbsp;
          <label for="active">Active</label>
        &nbsp;&nbsp;&nbsp;
          <input id="inactive" type="radio" value="I" formControlName="_status">
        &nbsp;
          <label for="inactive">Inactive</label>
        &nbsp;&nbsp;&nbsp;
          <input id="notbarmember" type="radio" value="N" formControlName="_status">
        &nbsp;
          <label for="notbarmember">Not a State Bar Member</label>

      </div>

      <div class="form-group">
        <label class="col-md-4">County</label>
        <label>
          <input type="text" class="form-control form-control-sm" formControlName="_county" />
        </label>
      </div>

      <div class="form-group">
        <label class="col-md-4">Check if not in Santa Cruz, Monterey or San Benito Counties</label>
        <input id="nibl" type="checkbox" value="y" formControlName="_nibl">
      </div>

      <div class="form-group">
        <label class="col-md-4">SCCBA member</label>
        <input id="member" type="checkbox" formControlName="_member">
      </div>

      <div class="form-group">
        <label class="col-md-4">Practice Area</label>
        <label>
          <input type="text" class="form-control form-control-sm" formControlName="_practice_areas" />
        </label>
      </div>

      <div class="form-group">
        <label class="col-md-4">SBN</label>
        <label>
          <input type="text" class="form-control form-control-sm" formControlName="_sbn" />
        </label>
      </div>


      <div class="form-group">
        <button (click) = "doSearch()" type="submit" class="btn btn-primary btn-sm">
          Search
        </button>
        &nbsp;&nbsp;
        <button (click) = "clearForm()" type="submit" class="btn btn-primary btn-sm">
          Clear
        </button>
      </div>

    </form>
  </div>






  <div [hidden]="!searchResultsVisible">

  <h3>Search results</h3>

    <div class="row">
      <div class="col-md-auto">
        Records found: {{searchResults.length}}
      </div>
      <div class="col col-sm-2">
        <button (click) = "exportSearchResults(searchResults)" type="submit" class="btn btn-primary btn-sm">Export</button>
      </div>
    </div>

    <br><br>

  <tbody>
  <tr *ngFor="let aresult of searchResults">
    <td>{{ aresult.last_name }}, {{ aresult.first_name }}</td>
    &nbsp;&nbsp;&nbsp;
    <td>
      <a [routerLink]="['/edit', aresult.id]" class="btn btn-primary btn-sm">Edit</a>
    </td>
  </tr>
  </tbody>


     <div class="form-group">

     </div>



  </div>

-->

<!--
    <tbody>
    <tr *ngFor="let member of santaCruzAttorneys">
      <td>{{ member.sbn }}</td>
    </tr>
    </tbody>
    -->























